.bg-primary {
  background-color: #2C3E50 !important;
}

.search-form {
  display: flex;
  align-items: stretch;
  height: 40px;
  width: 30%;
  min-width: 250px;

  .form-control {
    width: 100%;
  }

  button {
    min-width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
}

.video-list {
  .video-list-item {
    display: flex;
    margin-bottom: 30px;
    color: inherit;
    text-decoration: none;

    &.media-type, .media {
      width: 100%;
    }

    &:hover .card,
    &:hover .media {
      background-color: rgba(0,0,0, 0.03)
    }
  }

  .card {
    width: 100%;
  }

  .card-text, .card-info {
    font-size: 0.85em
  }

  .card-title {
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: 600;
  }
}

.loading {
  display: flex;
  align-items: 'center';
  justify-content: center;
  height: 250px;
  margin-bottom: 30px;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;

  .main-title {
    margin-bottom: 20px;
  }
}

.loadmore-btn-wrapper {
  display: flex;
  justify-content: center;
}

/* Layout */

$header: 72px;
header {
  display: flex;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 100;
  height: $header;

  .navbar {
    width: 100%;
    height: 100%;
  }
}

.main {
  margin-top: $header;
}

/* Video Detail*/
.video-detail {
  .video {
    background-color: #000;
  }

  .video-details {
    margin-top: 20px
  }

  .channel-info {
    font-size: 0.9em;
    white-space: pre-line;

    .description {
      .text {
        overflow: hidden;

        &.collapsed {
          height: 65px;
        }
      }

      .more-btn {
        margin-top: 20px;
      }
    }
  }
}


/* Media Queries */
@media (max-width: 575px) {
  $header: 128px;
  header {
    height: $header;

    .navbar-brand {
      margin-bottom: 10px;
    }

    .search-form {
      width: 100%;
      order: 1;
    }
  }

  .main {
    margin-top: $header;
  }
}

@media screen and (max-width: 1199.98px) {
  .video-list .video-list-item {
    .media {
      display: block;

      .media-img {
        max-width: 100%;
        margin-bottom: 15px;
        padding: 0;
      }

      .media-body {
        padding: 0 15px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .main {
    .row {
      display: block;
      margin: 0;
    }

    .video-detail-box, .list-box {
      max-width: 100%;
      flex: 1;
      padding: 0;
    }

    .video-detail-box {
      margin-bottom: 40px;
    }
  }
}